* {
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: impact;
}
section {
	margin-top: 10%;
}
.ahmed {
	margin-right: 3%;
}

.ahmed h1 {
	font-size: 110px;
	margin-left: 10px;
}
.soliman {
	margin-top: -24px;
	width: 500px;
	height: 200px;
	color: white;
	background-color: black;
	display: inline-block;
	border-right: 4px solid orange;
	border-bottom: 4px solid orange;
}
.soliman h2 {
	font-size: 72px;
	margin-left: 14%;
	margin-top: -10px; 
	letter-spacing: 7px;
}
.soliman h2 span {
	color: orange;
}
.soliman p {
	font-size: 10px;
	letter-spacing: 4.5px;
	font-weight: 100;
	margin-left: 31%;
	margin-top: -15px;
}
.soliman p {
	color: orange;
}
@media (max-width: 510px) {
	.soliman {
		width: 90%;
		height: 150px;
	}
	.soliman p {
		margin-left: 34%;
	}
}
@media (max-width: 400px) {
	.soliman p {
		margin-left: 39%;
}
@media (max-width: 395px) {
	.ahmed h1 {
		font-size: 98px;
	}
	.soliman h2 {
		font-size: 60px;
	}
	.soliman p {
		margin-left: 29%;
		margin-top: -12px;
	}
}
@media (max-width: 330px) {
	.ahmed h1 {
		font-size: 88px;
	}
	.soliman h2 {
		font-size: 50px;
	}
	.soliman p {
		letter-spacing: 1.5px;
		margin-left: 39%;

	}
}
